"*":
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "ded010c9-4771-09d1-10aa-674d795d0370"
  welcome:
    showOnStartup: false
  metrics:
    userId: "ae961babc3f969a4a4d932151eabf8d7e81bc5c2"
  autosave:
    enabled: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "ruby-test":
    rspecAllCommand: "bundle exec rspec --tty"
    specFramework: "rspec"
    testAllCommand: "bundle exec rspec --tty"
  "tree-view":
    hideVcsIgnoredFiles: false
  core:
    destroyEmptyPanes: false
    excludeVcsIgnoredPaths: false
  "atom-pair": {}
  "git-diff": {}
  "git-blame-plus": {}
  "one-dark-ui": {}
  tabs:
    enableVcsColoring: true
  "linter-elixirc": {}
  "git-blame": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
    strictMatching: true
  linter: {}
